
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');

:root{
    --dark-gray-background:#121725;
    --lighter-gray:#2C344B;
    --green:#54E6AF;
    --blue-gray:#5A668A;
    --light:#C2CBE5;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-size:2.7vh ;
    line-height:4.2vh ;
    font-family: 'Chivo', sans-serif;
    background-color: var(--dark-gray-background);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden; 
}

h1{
    font-size: 3.6vw;
    line-height:4vw;
    font-weight: 580;
    text-transform: uppercase;
    margin: 0;
   
}
 .main{
    width: 70%;
    height: 80%;          
    background-color:var(--dark-gray-background);
    position: relative;
    display: flex;
    flex-direction: column;
}
    
.logo {
    position: absolute;
    top:-1vw;
    left:-20vw;
    }

.box-image {
    height: 100%;
    width: auto;
    text-align: right;
    overflow: hidden;      
        }

.box-image img{
    height: 100%;
    object-fit: contain;
 }

.publish_conteiner {
    position: absolute; 
    top:17vh;
    left:-20vw;
    height: 73%;
    width: 65%;
    justify-self:right;
    background-color: var(--dark-gray-background);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top:5vh;
    padding-right: 2vw;
    
}
.publish_conteiner item {
    margin: 0;
}
.title span:nth-of-type(1) {
    color: var(--green);   
}
.title span:nth-of-type(2) {
    color: #fff;
}
.publish_conteiner p:first-of-type{
    width: 67%;
    padding: 5vh 0;
    margin: 0;
    font-size: 1.5vw;
    line-height: 2vw;
    color: #fff;
}
.email {
    width: 67%;
    height: 6vh;
    background-color: var(--lighter-gray);
    border-radius: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.input {
    height: 90%;
    width: 30%;
    border: none;
    -webkit-appearance: none;
   -moz-appearance: none;
    appearance: none;
    outline: none;
    font-size: 1.5vh;
    font-weight: 900;
    background-color: var(--lighter-gray);
    color: #fff;
}

input::placeholder {
    color: #fff;
    font-family:'Chivo', sans-serif; 
}

button {
    display: inline-block;
    width: 43%;
    height: 85%;
    border: none;
    background-color: var(--green);
    border-radius: 3vw;
     position: relative;
     right: -1.6vw;
     padding: 0;
     cursor: pointer;
     font-size:1.5vh;
     font-weight: bolder;
    font-family:'Chivo', sans-serif;
    color: var(--dark-gray-background);  
}

.icons {
   height: 6vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content:flex-start;
}

.icons img{
   max-height: 60%;
   width: auto;
   margin-right: 2.5vw;
}
.dots {
    position: absolute;
    bottom:-2vw;
    right: 0;
    z-index: 1;
}

.reg-checkout {
    width: 40vh;
    height: 5vh;
}

.reg-checkout-valid {
    color: red;
    font-size:1vw;
}


/*responsive*/

@media screen and (max-width: 1439px) and (min-width: 1024px) {
    .main{
        width: 85%;
    }
   
.publish_conteiner{
    left:0vw;
    top: 19vh;
    width: 58%;
    height: 70%;
}
.publish_conteiner p:first-of-type{
    font-size: 1.1vw;
    line-height: 1.6vw;
}
.logo {
    left:0;
}
.email {
    width: 300px;

}
button{
    right:-1.5vw;
}
.icons img{
    max-height: 50%;
}
}


@media  screen and (max-width:768px) {
    body {
        width: 768px;
        height: 100vh;
        align-items: flex-start;
        overflow: hidden;
        
       
    }
    h1{      
        margin-bottom: 5vh;
        font-size: 4.5vh;
        line-height:5.2vh;
    }
  .main {
      width: 70%;
      height: 70%;
      position: unset;      
  }
  .logo {
      top:2vh;
      left:4vw;
  }
  .publish_conteiner{
      top:24vh;
      height: 47%;
      width: 75%;
      left:10vw;
      padding: 0 2vw;
  }
  .publish_conteiner p:first-of-type{
      font-size: 2vh;
    line-height: 2.4vh;
    padding: 0;
      width: 88%;
      margin-bottom: 5vh;
  }
  .box-image {
      width: 100%;
      height: 100%;       
  }

  .box-image img{
    max-height: 100%;
    max-width: 100%;
  object-fit: cover;
  

        }
  .email{
      width: 400px;
      box-sizing: border-box;   
  }
  .input{
      font-size: 1.2vh;
      height: 80%;
  }
  button {
      font-size: 1.2vh;
      right: -2.4vw;
      border-radius: 30px;
  }
  .reg-checkout{
      height: 4vh;
      width: 15vw;
      margin-bottom: 2vh;
      box-sizing: border-box;
  }
  .reg-checkout-valid{
      height: 4vh;
  }
  .dots{
      bottom:0;
      left: 0;
  }
  .icons {
      margin: 0;
  }
  .icons img {
      margin-right: 3vw;
  }
    
}

@media screen and (max-width:480px){
    body{
        height: 150vh;
        width: 100vw;
        overflow: hidden;
    }
    .dots {
        display: none;
    }
    .main{
        height: 100%;
        width: 100%;
    }
    .publish_conteiner{
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 120vh;
        align-items: center;
        justify-content: center;
        background-color: var(--dark-gray-background); 
        opacity: 90%;
         
    }
   
    h1{
        text-align: center;
        margin: 0;
        order: 1;
        margin-top: 30vh;
        font-size:5.5vh;
        line-height: 7.2vh;
    }
    .logo {
        top:10vh;
        left:38vw;
        z-index: 20;
        height: 8vh;
    }
    .publish_conteiner p:first-of-type{
        width: 80%;
        font-size: 2.5vh;
        line-height: 4vh;
        padding: 4.5vh 0;
        order: 2;
        text-align: center;
        font-weight: 200;
      
    }
    .email {
        width: 90%;
        height: auto;
        flex-direction: column;
        background-color:transparent;
        order:4 ;
        margin-top:8vh;
        margin-bottom: 20vh;
      
       
      
    }
    .input {
        width: 300px;
        height: 8vh;
        border-radius: 25px;
        margin-bottom: 4vh;
        text-align: left;
        padding-left:2vw;
        opacity: 100%;
        font-size: 2vh;
       
       
    }
    button{
        width: 300px;
         height: 8vh;
        border-radius: 25px;
        position: relative;
        left:0vw;
        font-weight: bold;
        font-size: 2vh;
        opacity: 100%;
        font-weight: 900;
        margin-bottom: 8vh;
        
       
    }

    .icons {
        height:5vh;
        order: 3;
         width: auto;
        justify-self: center;
    }
    .icons img {
        height: 5vh;
    }
    .reg-checkout{
        order: 5;
        width: 60%;
    }
    .reg-checkout-valid{
        position: absolute;
        flex:none;
        display: block;
        margin-top:12px;
  top:100vh;
     font-size: 3vw; 


    }
   


}
